@font-face {
    font-family: 'Reddit Sans SemiBold'; 
    src: local('Reddit Sans SemiBold'), url(/src/fonts/RedditSans/RedditSans-SemiBold.ttf); 
}

@font-face {
    font-family: 'Inter Black'; 
    src: local('Inter Black'), url(/src/fonts/Inter/static/Inter_18pt-Black.ttf); 
}

@font-face {
    font-family: 'Inter SemiBold'; 
    src: local('Inter SemiBold'), url(/src/fonts/Inter/static/Inter_18pt-SemiBold.ttf); 
}

@font-face {
    font-family: 'Inter ExtraBold'; 
    src: local('Inter ExtraBold'), url(/src/fonts/Inter/static/Inter_18pt-ExtraBold.ttf); 
}

@font-face {
    font-family: 'Inter Bold'; 
    src: local('Inter Bold'), url(/src/fonts/Inter/static/Inter_18pt-Bold.ttf); 
}

@font-face {
    font-family: 'Inter Regular'; 
    src: local('Inter Regular'), url(/src/fonts/Inter/static/Inter_18pt-Regular.ttf); 
}

* {
    margin: 0;
    padding: 0;
    
}

html {
    scrollbar-color: #464663 #00000000;
    scrollbar-width: thin;
}

body {
    font-weight: 600;
    background: #0D0E12;
    max-height: max-content;
    justify-content: center;
}

a {
    text-decoration: none;
}

/* Свечение в верху экрана */
.up-glow {
    position: absolute;
    z-index: -2;
    top: -450px;
    left: 0;
    height: 300px;
    width: 100%;
    border-radius: 100%;
    background: rgb(19, 94, 255);
    box-shadow: 10px 10px 300px 250px rgba(19, 94, 255, 0.35);
    margin-left: auto;
}

/* Header Styles */
header {
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #464663;
    background: #0D0E12;
    font-size: 12px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

/* LOGO */
.logo {
    margin-left: 64px;
}

/* Навигация левая часть */
.log_text {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    margin-left: 50px;
}

.text ul {
    list-style: none;
    display: flex;
}

#main_nav {
    margin-right: 40px;
    display: flex;
    min-width: 100px;
    align-items: center;
}

.header-hover-shadow{
    font-family: 'Inter', sans-serif;
}

.header-hover-shadow:hover{
    text-shadow: 0px 0px 4px #fff;
}
#pol {
    padding-left: 4px;
}

.text ul li a {
    color: white;
}

/* Навигация правая часть */
.rig {
    margin-left: auto;
    align-items: center;
    display: flex;
}

.navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navig ul {
    list-style: none;
    display: flex;
    min-width: 60px;
    width: 110px;
}


#navig {
    height: 24px;
    padding-left: 20px;
}

/* User Button */
.btn_profile {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 30px;
    height: 100%;
}

.btn_profile button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    background: url('/src/icons/back_gold.svg') no-repeat top left;
    background-size: cover;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 44  px;
}

.btn_profile button h4 {
    font-size: 14px;
    font-family: "Reddit Sans SemiBold";
    margin-right: 4px;
}

.btn_profile button h5 {
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Reddit Sans SemiBold';
    align-content: center;
    text-shadow: 0px -1px 12px #fff;
}

.btn_profile button h6 {
    color: #77FF00;
    font-size: 10px;
    padding: 6px 0;
    font-family: 'Reddit Sans SemiBold';
    text-shadow: 0px 0px 4px #77FF00;
}

#back_prof {
    width: max-content;
    height: 30px;
    min-width: 32px;
    min-height: 24px;
    margin-left: 10px;
    border-radius: 9999px;
    padding: 4px 0;
    align-items: center;
}

#pol2 {
    width: 8px;
    height: 8px;
    min-width: 7px;
    min-height: 7px;
    align-items: center;
    margin-left: 5px;
    margin-right: 2px;
    transform: scale(-1);
    filter: drop-shadow(0px 0px 4px #77FF00);
}

#pol2 path {
    fill: #77FF00;
}

/* Menu */
.menu {
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    margin-right: 20px;
}



/* Главная часть страницы */
.main {
    display: flex;
    position: relative;
    height:auto;
    justify-content: space-around;
}

.center{
    
}

/* Задний фон */
svg.bg {
    width: 100%;
    z-index: -2;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.hello-window {
    width: fit-content;
    height: max-content;
    position: relative;
    display: flex;
}

.back-hello-window {
    position: relative;
    z-index: -1;
    margin-top: 70px;
    display: block;
    width: 1500px;
    height: 470px;
}

.lozung {
    position: relative;
    width: 100%;
    text-align: start;
    margin-top: 120px;
    color: #fff;
    font-family: "Inter Black";
    font-size: 50px;
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
}

.about {
    position: relative;
    width: 45%;
    color: #fff;
    font-family: "Inter SemiBold";
    font-size: 20px;
    text-align: start;
    vertical-align: top;
    margin-top: 24px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.info-text {
    position: absolute;
    float: left;
    margin-left: 50px;
    height: 100%;
}

.enter-steam {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
    display: flex;
    background: linear-gradient(90deg, rgba(9,84,177,1) 0%, rgba(61,85,116,1) 100%);
    border-style: none;
    border-radius: 12px;
    margin-top: 40px;
    cursor: pointer;
}

.enter-steam:hover{
    box-shadow: 0px 0px 30px #0954B1;
    background: linear-gradient(90deg, rgb(11, 96, 199) 0%, rgb(78, 109, 150) 100%);
}

.Steam {
    width: 40px;
    height: 40px;
}

.come-in-Steam {
    font-size: 20px;
    font-family: "Inter ExtraBold";
    color: #fff;
    margin-left: 24px;
}

.center-steam-enter {
    display: flex;
    align-content: center;
}

.information {
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

#information {
    color: #fff;
    font-family: "Inter ExtraBold";
    font-size: 28px;
}

.line {
    width: 700px;
    position:relative;
    padding-top: 70px;
    margin: 0 auto;
}

h1{
    color: #fff;
    font-size: 44px;
    font-family: "Inter ExtraBold";
    margin-top: 50px;
    margin-bottom: 50px;
    width: max-content;
}

.text-tournaments{
    display: flex;
    position: relative;
    width: max-content;
}

.tournaments{
    width: fit-content;
}

#tour{
    width: 1000px;
    height: 156px;
    margin-top: 30px;
    display: flex;
    background-image: linear-gradient(to right, rgba(46, 81, 113, 0.37) , rgba(32, 76, 169, 0.09));
    border-radius: 12px;
    z-index: 3;
}

#game{
    width: 400px;
    height: 156px;
}

.name-reg{
    margin-left: 20px;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    margin-top: 22px;
    color: #fff;
}

.name h2{
    font-size: 24px;
    font-family: "Inter ExtraBold";
}

.name h3{
    font-size: 16px;
    font-family: "Inter Bold";
    margin-top: 8px;
}

.reg{
    margin-bottom: 14px;
    color: #fff;
    font-family: "Inter ExtraBold";
    width: max-content;
}

.reg p{
    font-size: 12px;
    padding: 4px 8px;
    background: #5E01FF;
    border-radius: 3px;
}

.date-time{
    display: flex;
    padding-top: 22px;
}

.data-tour{
    display: block;
    padding-right: 30px;
}

.data-tour p time{
    color: #fff;
    font-family: "Inter SemiBold";
    font-weight: 200;
}

.time-tour{
    display: block;
}

.time-tour p time{
    color: #fff;
    font-family: "Inter SemiBold";
    font-weight: 200;
}

#head-datetime{
    color: #8E8E8E;
    text-align: center;
    margin-bottom: 8px;
    font-family: "Inter Regular";
    font-size: 12px;
    font-weight: 400;
}

.mode{
    display: flex;
    padding-top: 10px;
}

.people2{
    display: flex;
    padding-top: 12px;
}

#mode-people{
    color: #8E8E8E;
    font-size: 16px;
    font-family: "Inter Regular";
    font-weight: 200;
}

.max-player{
    color: #77FF00;
    font-family: "Inter Regular";
    font-weight: 400;
    font-size: 16px;
}

#edit-mode-people{
    color: #fff;
    padding-left: 16px;
    font-family: "Inter Regular";
    font-weight: 400;
}

.money2{
    display: flex;
    height: 28px;
    padding: 64px 0;
    margin-left: 42px;
}

.money2 p{
    color: #FF7F00;
    font-family: "Inter SemiBold";
    font-weight: 200;
    font-size: 22px;
    padding-left: 6px;
}

#bitcoin{
    width: 18px;
    height: 18px;
    padding: 5px 0;
}

.news-task{
    display: block;
    margin-left: 120px;
    margin-top: 155px;
}

.go-play{
    position: relative;
    display: flex;
    width: 380px;
    height: 86px;
    background: #5E01FF;
    border: #00000000;
    align-content: center;
    background: linear-gradient(90deg, rgba(24,37,53,1) 0%, rgba(9,84,177,1) 100%);
    border-radius: 12px;
    cursor: pointer;
}

.gamepad{

}

.join{
    color: #fff;
    font-family: "Inter ExtraBold";
    font-size: 24px;
    padding: 28px 0;
    text-shadow: 0px 0px 17px #fff;
}

.line2 {
    width: 380px;
    position:relative;
    margin-top: 44px;
}

.news {
    position: relative; /* Позиционирование для основного элемента */
    width: 380px;
    height: 350px;
    margin-top: 40px;
    background: linear-gradient(45deg, rgba(46, 81, 113, 0.37) 0%, rgba(32, 76, 169, 0.09) 100%);
    border-radius: 12px;
    color: #fff;
    overflow: hidden; /* Скрываем части псевдоэлемента, выходящие за границы */
    z-index: 1; /* z-index для основного элемента */
}


.image-news{
    width: 100%;
    height: 170px;
}

.news-text{
    margin-top: 16px;
}

.head-news{
    font-family: "Inter Bold";
    font-size: 18px;
    padding: 0 33px;
    text-align: center;
}

.description{
    font-size: 14px;
    padding: 0 33px;
    font-family: "Inter Regular";
    font-weight: 200;
    margin-top: 16px;
    text-align: center;
}

.learn-more{
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.learn-more p{
    font-family: "Inter SemiBold";
    font-size: 11px;
    color: #fff;
}

.learn-more img{
    width: 8px;
    height: 8px;
    padding: 4px;
}

.task{
    width: 378px;
    height: 344px;
    position: relative;
    margin-top: 35px;
    border-radius: 12px;
    background: linear-gradient(45deg, rgba(46, 81, 113, 0.37) 0%, rgba(32, 76, 169, 0.09) 100%);
    
}

.task-full{
    margin-left: 24px;
    padding-top: 26px;
}

.task h4{
    font-family: "Inter Bold";
    font-size: 20px;
    font-weight: 600;

    background: linear-gradient(45deg, #888888, #fff, #737373);
    color: transparent;
    -webkit-background-clip: text; /* Применяем градиент к тексту */
    background-clip: text;
}

.line-task{
    width: 92%;
    margin: 0 auto;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#condition{
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin-right: 28px;
}

.condition{
    font-family: "Inter Regular";
    font-weight: 400;
    font-size: 13px;
}

.task-one{
    margin-top: 30px;
}

.term{
    margin-top: 7px;
    color: #B3B3B3;
    font-family: "Inter Regular";
    font-size: 10px;
    font-weight: 200;
    margin-left: 26px;
}

.more-event{
    display: flex;
    width: max-content;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 120px;
    cursor: pointer;
}

.text-more-event{
    color: #fff;
    font-family: "Inter SemiBold";
    font-size: 16px;
    font-weight: 200;
}

.polygon{
    padding: 4px 8px;
    width: 12px;
}

.glow-down{
    position: absolute;
    background-image: url(/src/img/glows_down.png);
    background-size: cover;
    z-index: -10;
    bottom: -10px;
    justify-content: center;
    transform: translateX(-10%);
}

footer{
    display:grid;
    position: relative;
    background: #0D0E12;
    color: #fff;
    font-family: "Inter Regular";
    font-weight: 200;
    font-size: 14px;
    justify-content: space-around;
}

.footer-up{
    width: 1500px;
    position: relative;
    display:grid;
}

.footer-up-up{
    margin-top: 25px;
    position: relative;
    display: flex;
    float: left;
}

.Logo{
    padding-right: 90px;
}

.now-play{
    display: flex;
    margin-top: 19px;
    padding-bottom: 4px;
}

.quantity{
    color: #77FF00;
    padding-right: 4px;
}

.quantity-online{
    display: flex;
    margin-top: 19px;
    padding-bottom: 4px;
}

.quantity2{
    color: #77FF00;
    padding-right: 4px;
}

.act-gamers{
    margin-right: 80px;
}

#tour-cup-history{
    margin-top: 20px;
}

#ques-supp-comm{
    margin-top: 20px;
}


.footer-social-media{
    text-align: right;
    padding: 26px 0;
    justify-content: space-between;
}

.footer-social-media img{
    margin-left: 24px;
}


.footer-down{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid #464663;
}

.footer-down-left{
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.company-year{
    display: flex;
    width: 260px;
    justify-content: space-between;
}

.language{
    display: flex;
    cursor: pointer;
}

.language p{
    color: #717171;
}

.language svg{
    padding: 6px 4px;
}

.company-year{
    color: #717171;
}

#white-link{
    color: #fff;
}

#gray-link{
    color: #717171;
}