@import url(/src/css/var.css);

@font-face {
    font-family: 'Inter SemiBold'; 
    src: local('Inter SemiBold'), url(/src/fonts/Inter/static/Inter_18pt-SemiBold.ttf); 
}

@font-face {
    font-family: 'Inter ExtraBold'; 
    src: local('Inter ExtraBold'), url(/src/fonts/Inter/static/Inter_18pt-ExtraBold.ttf); 
}

@font-face {
    font-family: 'Inter Bold'; 
    src: local('Inter Bold'), url(/src/fonts/Inter/static/Inter_18pt-Bold.ttf); 
}

@font-face {
    font-family: 'Inter Regular'; 
    src: local('Inter Regular'), url(/src/fonts/Inter/static/Inter_18pt-Regular.ttf); 
}

* {
    margin: 0;
    padding: 0;
    
}


/* Анимация */

.fade-in {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}

/* Анимация для hover-эффекта */
.hover-effect {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Плавное появление */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Плавное исчезновение */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

:root{
    --font-regular: 'Inter Regular', sans-serif;
    --font-semibold: 'Inter SemiBold', sans-serif;
    --font-bold: 'Inter Bold', sans-serif;
    --font-extrabold: 'Inter ExtraBold', sans-serif;

    --font-size-pony: 12px;
    --font-size-small: 14px;
    --font-size-main: 16px;
    --font-size-medium: 18px;
    --font-size-big: 20px;
    --font-size-large: 24px;
    --font-size-huge: 28px;

    --border-radius-main: 12px;
}

html {
    scrollbar-color: #464663 #00000000;
    scrollbar-width:thin;    
    overflow-x: hidden;
}

body {
    font-weight: 600;
    background: #0D0E12;
    max-height: max-content;
    justify-content: center;
}

a {
    text-decoration: none;
}

/* Свечение в верху экрана */
.up-glow {
    position: absolute;
    z-index: -2;
    top: -450px;
    left: 0;
    height: 300px;
    width: 100%;
    border-radius: 100%;
    background: rgb(19, 94, 255);
    box-shadow: 10px 10px 300px 250px rgba(19, 94, 255, 0.25);
    margin-left: auto;
}

/* Header Styles */
header {
    position: relative;
    z-index: 2;
    background: #0D0E12;
    font-size: 12px;
    width: 100%;
    height: 74px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-medium);
}

/* LOGO */
.logo {
    width: 200px;
    margin-left: 64px;
}

.logo img{
    width: 100%;
}

/* Навигация левая часть */
.log_text {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log_text .navigation-main{
    display: flex;
}

.text {
    margin-left: 50px;
    user-select: none;    
}

.text ul {
    list-style: none;
}

#main_nav {
    padding-right: 40px;
    min-width: 100px;
    align-items: center;
}

.header-hover-shadow{
    font-family: var(--font-semibold);
}

.header-hover-shadow:hover{
    text-shadow: 0px 0px 2.5px #fff;
}

#pol {
    padding-left: 4px;
}

/* Навигация правая часть */
.rig {
    margin-left: auto;
    align-items: center;
    display: flex;
}

.navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navig ul {
    list-style: none;
    display: flex;
    min-width: 60px;
    width: 110px;
}


#navig {
    height: 32px;
    padding-left: 20px;
}

/* User Button */
.btn_profile {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px 30px;
    height: 52px;
}

.btn_profile button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    background: url('/src/icons/back_gold.svg') no-repeat top left;
    background-size: cover;
    color: white;
    border: none;
    border-radius: var(--border-radius-main);
    cursor: pointer;
    width: 100%;
    height: 48px;
}

.btn_profile button h4 {
    font-size: var(--font-size-small);
    font-family: var(--font-semibold);
    margin-right: 4px;
}

.btn_profile button h5 {
    margin-left: 10px;
    font-size: var(--font-size-pony);
    font-family: var(--font-semibold);
    align-content: center;
    text-shadow: 0px -1px 12px #fff;
}

.btn_profile button h6 {
    color: #77FF00;
    font-size: 10px;
    padding: 6px 0;
    font-family: var(--font-semibold);
    text-shadow: 0px 0px 8px #77FF00;
}

#back_prof {
    width: max-content;
    height: 30px;
    min-width: 32px;
    min-height: 24px;
    margin-left: 10px;
    border-radius: 9999px;
    padding: 4px 0;
    align-items: center;
}

#pol2 {
    width: 8px;
    height: 8px;
    min-width: 7px;
    min-height: 7px;
    align-items: center;
    margin-left: 5px;
    margin-right: 2px;
    transform: scale(-1);
    filter: drop-shadow(0px 0px 4px #77FF00);
}

#pol2 path {
    fill: #77FF00;
}

/* Menu */
.menu {
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding-right: 20px;
}



/* Главная часть страницы */
.main {
    display: flex;
    position: relative;
    height:auto;
    justify-content: space-around;
}

.center{
    
}

/* Задний фон */
svg.bg {
    width: 100%;
    z-index: -2;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.hello-window {
    width: 1500px;
    padding-top: 80px;
    position: relative;
    display: flex;
}

.hello-window-info-text {
    background-image: url(/src/img/back-hello-window.svg);
    float: left;
    width: 1500px;
    height: 460px;
    padding: 0px 50px;
}

.back-hello-window {
    position: relative;
    z-index: -1;
    margin-top: 70px;
    display: block;
    width: 1500px;
    height: 470px;
}

.lozung {
    width: max-content;
    text-align: start;
    color: #fff;
    font-family: var(--font-extrabold);
    font-weight: 900;
    font-size: 50px;
    padding-top: 48px;
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
}

.about {
    position: relative;
    width: 45%;
    color: #fff;
    font-family: var(--font-semibold);
    font-size: var(--font-size-big);
    text-align: start;
    vertical-align: top;
    padding-top: 24px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.enter-steam {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
    display: flex;
    background: linear-gradient(90deg, rgba(9,84,177,1) 0%, rgba(61,85,116,1) 100%);
    border-style: none;
    border-radius: var(--border-radius-main);
    cursor: pointer;
}

.enter-steam:hover{
    box-shadow: 0px 0px 30px #0954B1;
    background: linear-gradient(90deg, rgb(11, 96, 199) 0%, rgb(78, 109, 150) 100%);
}

.Steam {
    width: 40px;
    height: 40px;
}

.come-in-Steam {
    font-size: var(--font-size-big);
    font-family: var(--font-extrabold);
    color: #fff;
    margin-left: 24px;
}

.center-steam-enter {
    padding-top: 50px;
    display: flex;
    align-content: center;
}

.information {
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}

#information {
    color: #fff;
    font-family: var(--font-extrabold);
    font-size: var(--font-size-huge);
}

.line {
    width: 700px;
    position:relative;
    padding-top: 70px;
    margin: 0 auto;
}

h1{
    color: #fff;
    font-size: 44px;
    font-family: var(--font-extrabold);
    padding-top: 50px;
    padding-bottom: 50px;
    width: max-content;
}

.tour-cool-padding{
    display: grid;
    grid-gap: 30px;
    position: relative;
}

.text-tournaments{
    display: flex;
    position: relative;
    width: max-content;
}

.tournaments{
    width: fit-content;
}

.tour-one, .tour-two, .tour-three, .tour-four, .tour-five{
    width: 1000px;
    height: fit-content;
    display: flex;
    border: none;
    background-image: linear-gradient(to right, #162740, #0E1420);
    border-radius: 14px;
    z-index: 3;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.tour-one:hover img, .tour-two:hover img, .tour-three:hover img, .tour-four:hover img, .tour-five:hover img{
    transform: scale(1.03);
    
}

.full-width-tour{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 50px;
    
}

.game-image{
    scale: 1.02;
    transition: 0.15s ease-in-out;

}

#game{
    width: 100%;
    height: 100%;
}

.name-reg{
    margin-left: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    color: #fff;
    align-items: center;
}

.name h2{
    font-size: var(--font-size-large);
    font-family: var(--font-extrabold);
}

.name h3{
    font-size:  var(--font-size-main);
    font-family: var(--font-bold);
    margin-top: 8px;
}

.reg{
    padding-top: 40px;
    color: #fff;
    font-family: var(--font-extrabold);
    width: max-content;
}

.reg p{
    font-size: var(--font-size-pony);
    padding: 4px 8px;
    background: #5E01FF;
    border-radius: 3px;
}

.date-time{
    display: flex;
}

.data-tour{
    display: block;
    padding-right: 30px;
}

.data-tour p time, .time-tour p time{
    color: #fff;
    font-family: var(--font-regular);
    font-weight: 200;
}

.time-tour{
    display: block;
}

#head-datetime{
    color: #8E8E8E;
    text-align: center;
    margin-bottom: 8px;
    font-family: var(--font-regular);
    font-size: var(--font-size-small);
    font-weight: 400;
}

.mode{
    display: flex;
    padding-top: 10px;
}

.people2{
    display: flex;
    padding-top: 12px;
}

#mode-people, .max-player, #edit-mode-people{
    font-size: var(--font-size-main);
    font-family: var(--font-regular);
}

#mode-people{
    color: #8E8E8E;
    font-weight: 200;
}

.max-player{
    color: #77FF00;
    font-weight: 400;
}

#edit-mode-people{
    color: #fff;
    padding-left: 16px;
    font-weight: 400;
}

.money2{
    display: flex;
    height: 32px;
    padding: 64px 0;
}

.money2 p{
    color: #FF7F00;
    font-family: "Inter SemiBold";
    font-weight: 200;
    font-size: 22px;
    padding-left: 6px;
}

#bitcoin{
    width: 20px;
    height: 20px;
    padding: 3px 0;
}

#full-info-tour {
    position: relative;
    display: none;
    background-image: linear-gradient(135deg , #0E2D4B, #15223E, #0F1522);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: -40px;
    align-content: center;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 18px;
}

.bottom-content-info-tour{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    gap: 50px;
}

.info-tour-in-window, .rules-tour-in-window, .map-tour-in-window, .stream-tour-in-window, .team-tour-in-window, .prize-tour-in-window{
    justify-items: center;
    font-size: var(--font-size-pony);
    font-family: var(--font-semibold);
    color: #89919F;
}

.info-tour-in-window:hover, .rules-tour-in-window:hover, .map-tour-in-window:hover, .stream-tour-in-window:hover, .team-tour-in-window:hover, .prize-tour-in-window:hover{
    color: #fff;
}

.info-tour-in-window:hover path, .rules-tour-in-window:hover path, .map-tour-in-window:hover path, .stream-tour-in-window:hover path, .team-tour-in-window:hover path{
    stroke: #fff;
    stroke-width: 2;
}

.prize-tour-in-window:hover path{
    fill: #fff;
    stroke-width: 2;
}



.participate{
    font-family: var(--font-semibold);
    font-size: var(--font-size-big);
    color: #fff;
    width: 100%;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #FF5900, #FFC95D);
}

.news-task{
    display: block;
    padding-top: 154px;
    align-items: center;
    padding-left: 120px;
}

.go-play{
    position: relative;
    display: flex;
    width: 380px;
    height: 86px;
    background: #5E01FF;
    border: #00000000;
    align-content: center;
    background: linear-gradient(90deg, rgba(24,37,53,1) 0%, rgba(9,84,177,1) 100%);
    border-radius: 12px;
    cursor: pointer;
    justify-self: center;
}



.join-2{
    width: 100%;
    height: 100%;
    align-content: center;
    position: relative;
    justify-content: center;
}

.join{  
    color: #fff;
    font-family: "Inter ExtraBold";
    font-size: 24px;
    text-shadow: 0px 0px 17px #fff;
}

.line2 {
    width: 380px;
    position:relative;
    margin-bottom: 70px;
    margin-top: 70px;
}

.news {
    position: relative; /* Позиционирование для основного элемента */
    width: 380px;
    height: 350px;
    background: linear-gradient(45deg, rgba(46, 81, 113, 0.37) 0%, rgba(32, 76, 169, 0.09) 100%);
    border-radius: 12px;
    color: #fff;
    overflow: hidden; /* Скрываем части псевдоэлемента, выходящие за границы */
    z-index: 1; /* z-index для основного элемента */
    margin-bottom: 70px;
}


.image-news{
    width: 100%;
    height: 170px;
}

.news-text{
    margin-top: 16px;
}

.head-news{
    font-family: "Inter Bold";
    font-size: var(--text-18);
    padding: 0 33px;
    text-align: center;
}

.description{
    font-size: 14px;
    padding: 0 33px;
    font-family: "Inter Regular";
    font-weight: 200;
    margin-top: 16px;
    text-align: center;
}

.learn-more{
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.learn-more p{
    font-family: "Inter SemiBold";
    font-size: 11px;
    color: #fff;
}

.learn-more img{
    width: 8px;
    height: 8px;
    padding: 4px;
}

.task{
    width: 378px;
    height: 344px;
    position: relative;
    border-radius: 12px;
    background: linear-gradient(45deg, rgba(46, 81, 113, 0.37) 0%, rgba(32, 76, 169, 0.09) 100%);
    
}

.task-full{
    padding-left: 24px;
    padding-top: 26px;
}

.task h4{
    font-family: "Inter Bold";
    font-size: 20px;
    font-weight: 600;

    background: linear-gradient(45deg, #888888, #fff, #737373);
    color: transparent;
    -webkit-background-clip: text; /* Применяем градиент к тексту */
    background-clip: text;
}

.line-task{
    width: 92%;
    margin: 0 auto;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#condition{
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin-right: 28px;
}

.condition{
    font-family: "Inter Regular";
    font-weight: 400;
    font-size: 13px;
}

.task-one{
    margin-top: 30px;
}

.term{
    padding-top: 7px;
    color: #B3B3B3;
    font-family: "Inter Regular";
    font-size: 12px;
    font-weight: 200;
    padding-left: 26px;
}

.more-event{
    position: relative;
    display: flex;
    width: max-content;
    padding-top: 70px;
    padding-bottom: 120px;
    margin: auto;
    cursor: pointer;
}

.text-more-event{
    color: #fff;
    font-family: "Inter SemiBold";
    font-size: 16px;
    font-weight: 200;
}

.polygon{
    padding: 4px 8px;
    width: 12px;
}

.glow-down{
    position: absolute;
    background-image: url(/src/img/glows_down.png);
    background-size: cover;
    z-index: -10;
    bottom: -10px;
    justify-content: center;
    transform: translateX(-10%);
}

footer{
    display:grid;
    position: relative;
    background: #0D0E12;
    color: #fff;
    font-family: "Inter Regular";
    font-weight: 200;
    font-size: 14px;
    justify-content: space-around;
}

.footer-up{
    width: 1500px;
    position: relative;
    display:grid;
}

.footer-up-up{
    padding-top: 25px;
    position: relative;
    display: flex;
    float: left;
}

.Logo{
    padding-right: 90px;
}

.now-play{
    display: flex;
    padding-top: 19px;
    padding-bottom: 4px;
}

.quantity{
    color: #77FF00;
    padding-right: 4px;
}

.quantity-online{
    display: flex;
    padding-top: 19px;
    padding-bottom: 4px;
}

.quantity2{
    color: #77FF00;
    padding-right: 4px;
}

.act-gamers{
    display: grid;
    grid-gap: 20px;
    padding-right: 80px;
    width: max-content;
}

.help{
    display: grid;
    grid-gap: 20px;
    padding-right: 80px;
    width: max-content;
}


.footer-social-media{
    text-align: right;
    padding: 26px 0;
    justify-content: space-between;
}

.footer-social-media img{
    padding-left: 24px;
}


.footer-down{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid #464663;
}

.footer-down-left{
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.company-year{
    display: flex;
    width: 260px;
    justify-content: space-between;
}

.language{
    display: flex;
    cursor: pointer;
}

.language p{
    color: #717171;
}

.language svg{
    padding: 6px 4px;
}

.company-year{
    color: #717171;
}

#white-link{
    color: #fff;
    width: max-content;
    height: max-content;
}

#gray-link{
    color: #717171;
}